/* ============================= APP SHELL ============================= */
#app {
  height: 100vh;
}
.shell {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ---- BODY ROW ---- */
.body-row {
  display: flex;
  flex: 1;
  margin-top: var(--header-h);
  height: calc(100vh - var(--header-h));
  position: relative;
}

/* ---- MAIN CONTENT ---- */
.main {
  flex: 1;
  min-width: 0;
  overflow-y: auto;
  /* background: var(--p-surface-100); */
}
.main-inner {
  padding: 24px 4rem 60px;
  /* max-width: 1400px; */
  margin: 0 auto;
}
.page-head {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 16px;
  /* margin-bottom: 22px; */
  flex-wrap: wrap;
}
.page-title {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.2rem;
  color: var(--p-surface-700);
  font-weight: 600;
  display: flex;
  text-transform: capitalize;

  gap: 0.5rem;
  & > :nth-child(1) {
    font-weight: 500;
    color: var(--p-surface-500);
  }
}
.page-sub {
  color: var(--text-muted);
  font-size: 13.5px;
  margin-top: 3px;
}

/* .grid {
  display: grid;
  gap: 18px;
} */
.grid-kpi {
  grid-template-columns: repeat(4, 1fr);
}
.grid-2col {
  grid-template-columns: 1.5fr 1fr;
  align-items: start;
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* ---- Resaltado de coincidencias de filtro (CSS Custom Highlight API) ---- */
::highlight(list-filter-match) {
  background-color: #fef08a;
}
