.layout {
	height: 100vh;
	--left-width: var(--sidebar-large);
	--right-width: var(--sidebar-large);
	display: grid;
	grid-template-columns: var(--left-width) minmax(0, 1fr) var(--right-width);
	grid-template-rows: minmax(0, 1fr);
	grid-template-areas:
		'topbar topbar topbar'
		'left main right';
	transition: grid-template-columns $transition-time;
	// background-color: $background;

	/* ---------- Topbar ---------- */
	& > .topbar {
		z-index: 15;
		position: fixed;

		& > .topbar-content {
			// background-color: $background;
			transition:
				box-shadow 1s,
				background-color $transition-time;
			width: 100%;
			position: fixed;
			display: grid;
			grid-template-columns: 1fr auto 1fr;
			align-items: center;
			height: var(--topbar-height);
			// border: $border;
			border-top: none;
			& > .left-section {
				justify-self: start;
				display: flex;
				align-items: center;
				min-width: 0;
			}
			& > .center-section {
				justify-self: center;
				min-width: 0;
				max-width: 100%;
				overflow: hidden;
			}
			/* derecha */
			& > .right-section {
				justify-self: end;
				display: flex;
				align-items: center;
				min-width: 0;
			}
		}
		&.layout-topbar-sticky > .topbar-content {
			border-bottom: $border;
			background-color: $background2; // -alpha($surface-3, 1);
			backdrop-filter: blur(1px);
		}
	}
	/* ---------- Sidebars ---------- */
	& > .left-sidebar,
	& > .right-sidebar {
		background-color: white;
		scrollbar-width: none;
		-ms-overflow-style: none;
		position: sticky;
		top: 0;
		height: 100%;
		overflow-y: auto;
		z-index: 20;
		transition:
			width $transition-time,
			opacity $transition-time;
		&::-webkit-scrollbar {
			display: none;
		}

		& > div {
			padding: 0.5rem;
			padding-top: calc(var(--topbar-height) + 0.5rem);

			background-color: $background;
		}
		& > div > .sidebar-control {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0px;
			z-index: 30;
			margin-left: auto;
			width: fit-content;
			& > * {
				transition: box-shadow $transition-time;
				cursor: pointer;
				border-radius: 999px;
				& > .fdn-icon {
					transition: font-weight $transition-time;
					color: $surface-6;
					font-size: 30px;
					font-weight: 250;
				}
				&.toogle-wraper > .fdn-icon {
					transition: rotate $transition-time;
					rotate: 0deg;
				}
				&:hover {
					background-color: white; // border: $border ;
					box-shadow: 0px 0px 3px $surface-6;
				}
			}
			&.mini {
				gap: 0;
				// padding: 0px;
				// margin: auto;
				// width: fit-content;
			}

			&:not(.large) > .toogle-wraper > .fdn-icon {
				rotate: 0deg;
			}
		}
		& > div > .sidebar-right-trigger,
		& > div > .sidebar-left-trigger {
			padding: 10px;
			position: fixed;
			right: 1rem;
			top: 50%;
			transition:
				transform $transition-time,
				opacity $transition-time,
				width $transition-time,
				scale $transition-time,
				margin-right $transition-time,
				margin-left $transition-time;
			transform: translateX(150px);
			z-index: 9999;
			display: flex;
			align-items: center;
			justify-content: center;
			width: fit-content;
			background: $surface-2;
			// opacity: 0.6;
			border-radius: 6px;
			border: 1px solid $surface-5;
			cursor: pointer;
			box-shadow: -2px 3px 6px $surface-7;
			&.close {
				width: fit-content;
				transform: translateX(40px);
			}
			&:hover {
				margin-right: 10px !important;
				width: 75px;
				background: $surface-2;
				box-shadow: 6px 6px 10px $surface-6;
				opacity: 1;
			}
			.trigger-icon {
				color: $surface-7;
				font-size: 35px;
				font-weight: 250;
			}
			&.sidebar-left-trigger {
				left: 0rem;
				transform: translateX(-150px);
				box-shadow: 2px 3px 6px $surface-7;

				&.close {
					transform: translateX(-20px);
				}

				&:hover {
					margin-left: 15px !important;
				}
			}
		}
		&.left-sidebar {
			background-color: white; //$background;

			grid-area: left;
			& > div > .sidebar-control {
				& > .toogle-wraper > .fdn-icon {
					rotate: 0deg;
				}

				&:not(.large) > .toogle-wraper > .fdn-icon {
					rotate: 180deg;
				}
			}
			& > div > #clock {
				// border: 1px solid $surface-3;
				// box-shadow: $shadow-inset; // 0px 0px 12px 2px $surface-6 inset;
				// background-color: white; // $background2;
				transition: width $transition-time;
				position: fixed;
				display: flex;
				width: calc($sidebar-width + 50px);
				height: $topbar;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				position: fixed;
				left: 0;
				top: 0px;
				& > .datetime {
					transition: font-size $transition-time;
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 1.4rem;
					// position: absolute;
					color: $surface-7;
					font-weight: 700;
					letter-spacing: 2px;
					z-index: 10;
				}

				& > .logo-fdn {
					transition: font-size $transition-time;
					position: absolute;
					color: -alpha($surface-4, 0.5);
					font-size: 35px;
					letter-spacing: 15px;
					font-family: 'diplomata-sc-regular';
					transform: scaleY(2);
				}
			}
			&.mini #clock {
				width: calc($sidebar-mini-width);
				padding: 5px 0;
				display: grid;
				justify-items: center;
				align-content: space-around;
				& > .datetime {
					position: relative;
					display: grid;
					font-size: 1rem;
					justify-items: center;
					align-content: space-between;
					& > span:nth-child(2) {
						display: none;
					}
				}
				& > .logo-fdn {
					position: relative;
					font-size: 10px;
					letter-spacing: 3px; // 15px;
					// color: -alpha($surface-5, 0.7);
				}
			}
		}
		&.right-sidebar {
			grid-area: right;
			& > div {
				display: flex;
				flex-direction: column;
				& > .sidebar-control {
					& > .toogle-wraper > .fdn-icon {
						rotate: 180deg;
					}

					&:not(.large) > .toogle-wraper > .fdn-icon {
						rotate: 0deg;
					}
				}

				& > .sidebar-panel {
					flex: 1;
					overflow-y: auto;
				}

				& > .sidebar-dev-controls {
					flex-shrink: 0;
					padding: 0.375rem 0.5rem;
					border-top: 1px solid $surface-4;
				}
			}
		}
	}
	/* ---------- Main ---------- */
	& > .layout-main-content {
		background-color: $background;

		grid-area: main;
		z-index: 10;
		padding: 1rem;
		padding-top: var(--topbar-height);
		overflow-y: auto;
		scrollbar-width: none;
		-ms-overflow-style: none;
		&::-webkit-scrollbar {
			display: none;
		}
		& > main {
			height: 100%;
			background-color: white;
			box-shadow: $shadow-inset2;
			& > div {
				height: 100%;

				background-color: $background2;
				// border: 1px solid $surface-4;
				padding: 2rem;
				// box-shadow: -0px 0px 10px 0px $surface-6;
				// background-color: $surface-1;
			}
		}
	}
}

/* ===================================================== */
/* LEFT STATES                                            */
/* ===================================================== */

.layout.left-large {
	--left-width: var(--sidebar-large);
}

.layout.left-mini {
	--left-width: var(--sidebar-mini);
}

.layout.left-close {
	--left-width: var(--sidebar-close);
}

/* ===================================================== */
/* RIGHT STATES                                           */
/* ===================================================== */

.layout.right-large {
	--right-width: var(--sidebar-large);
}

.layout.right-mini {
	--right-width: var(--sidebar-mini);
}

.layout.right-close {
	--right-width: var(--sidebar-close);
}

.fdn-icon.hover:hover {
	background-color: white; // border: $border ;
	box-shadow: 0px 0px 3px $surface-6;
	cursor: pointer;
}

/* ===================================================== */
/* RESPONSIVE                                             */
/* ===================================================== */

/* Tablet */

@media (max-width: 1200px) {
	.layout {
		--left-width: var(--sidebar-mini);
		--right-width: var(--sidebar-mini);
	}
}

/* Mobile */

@media (max-width: 768px) {
	.layout {
		--left-width: 0px;
		--right-width: 0px;
	}
}
