.sidebar-wraper {
	box-shadow: 3px 2px 5px $surface-5;
	background-color: $topbar-sidebar-bg;
	height: 100%;
	position: fixed;
	top: $topbar;
	left: 0px;
	transition: translate 0.3s;
	width: $sidebar-width;
	border-top: none;
	z-index: 1;

	&>aside {
		padding-top: .5rem;
	}

	&.mini {
		translate: calc(($sidebar-width) - $sidebar-mini-width) * -1;
	}

	&.close {
		translate: calc($sidebar-width) * -1;
	}
}

.sidebar-control {
	box-shadow: 4px 3px 5px $surface-5;
	transition-property: translate;
	transition-property: width;
	transition-property: padding;
	transition-duration: .3s;
	display: grid;
	justify-content: end;
	align-items: center;
	width: fit-content;
	position: absolute;
	right: 0px;
	margin-right: -24px;
	background-color: $topbar-sidebar-bg;
	z-index: 20;

	&>.toogle-wraper,
	&>.close-wraper {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2px;

		&>.fdn-icon {
			transition: all .3s;
			font-weight: 300;
			color: $surface-6;

			&:hover {
				color: $surface-5;
			}
		}

		&.toogle-wraper>.fdn-icon {
			transition: rotate 1s;
			rotate: 180deg;
		}
	}

	&:not(.large)>.toogle-wraper>.fdn-icon {
		rotate: 0deg;
	}

	&.mini {
		gap: 0px;
		justify-content: space-around;
	}

	&.close {
		margin-right: -30px;
		width: 30px;
		padding: 0px;
		top: 0rem;
		box-shadow: $shadow-2;

		&>.close-wraper {
			display: none;
		}

		&>.toogle-wraper {
			&>.fdn-icon {
				font-size: 30px;
			}
		}
	}
}
