.sticky-header-table {
	width: 100%;
	color: $dark; // table-layout: fixed;
	background-color: $background2;
	&.loading tbody {
		opacity: 0.5;
	}
	& > .q-table__top {
		margin-bottom: 20px;
		border-bottom: none;
	}
	& > .q-table__middle {
		background-color: white;
		padding-top: 0px;
		& > table {
			& > thead > tr {
				& > th {
					background-color: #fff;
				}
				& > th:nth-child(odd) {
					background-color: -alpha($neutral-2, 1);
				}
			}
			& > tbody > tr {
				& > td:nth-child(odd) {
					background-color: -alpha($neutral-2, 0.7);
				}
				& > th:nth-child(odd),
				& > td:nth-child(odd) {
					background-color: -alpha($neutral-2, 0.7);
				}
			}
			& > thead > tr > th,
			& > tbody > tr > td {
				& > div.collection-cell-wrap {
					max-height: 50px;
					font-size: 0.875rem;
					overflow: hidden;
					overflow-y: auto;
					& > .fdn-icon {
						position: relative;
					}
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					padding-right: 5px;
				}
				& > .col-small {
					max-width: 120px;
				}

				& > .col-medium {
					max-width: 180px;
				}
			}
			& > thead {
				position: sticky;
				top: 0px;
				z-index: 10;
				& > tr {
					&:nth-child(1) > th {
						padding: 0.5rem;
						padding-bottom: 0px;
						& > div > .fdn-icon.is-sortable {
							transition: rotate $transition-time;
							rotate: 180deg;
							color: -alpha($surface-7, 0.3);
							&.sorted {
								color: $surface-7;
								rotate: 90deg;
								&.DESC {
									rotate: 270deg;
								}
							}
						}
					}
					& > th {
						z-index: 10;
						top: 35px;
						padding: 0px 12px;
						&:last-child {
							position: sticky;
							right: 0;
							z-index: 20;
							background-color: -alpha($surface-1, 0.6);
							border-left: 1px solid $surface-3;
							width: 50px;
							min-width: 50px;
							backdrop-filter: blur(2px) saturate(120%);
							padding: 0px !important;
							& > div > .fdn-icon {
								transition: padding 0.2s;
								&:hover {
									background-color: white;
									border: 1px solid $surface-4;
									padding: 4px;
									cursor: pointer;
								}
							}
						}
					}
				}
				& > tr:first-child > th {
					text-transform: capitalize;
					top: 0;
				}
			}
			& > tbody {
				scroll-margin-top: 48px;
				& > tr {
					& > td {
						padding: 0px 15px;
						&:last-child {
							position: sticky;
							right: 0;
							z-index: 1;
							background-color: -alpha($surface-1, 0.6);
							width: 75px;
							min-width: 75px;
							backdrop-filter: blur(2px) saturate(120%);
							padding: 0px !important;
							& > div > .fdn-icon {
								transition: font-weight 0.1s;
								font-weight: 200;
								cursor: pointer;
								&:hover {
									font-weight: 400;
								}
							}
						}
					}
				}
			}
		}
		& > table > thead > tr:last-child > th {
			& .form-outer {
				margin-bottom: 0px;
			}
		}
	}
}
.q-table__bottom {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	font-size: 1rem;
	border-top: 0px !important;
}
