.btn-whatsapp {
  display: block;
  width: 70px;
  height: 70px;
  color: #c2c2c2;
  position: fixed;
  right: 40px;
  bottom: 40px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
}

#footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #1e293b;
  color: #e2e8f0;
  padding: 2rem;
  font-size: 14px;
  font-weight: 400;

  &>div {
    max-width: 400px;
  }

  & .footer-logo {
    position: relative;

    & img {
      position: absolute;
      width: 110px;
      border-radius: 100%;
      left: 146px;
      top: -19px;
    }

    &>.grid>div {
      font-size: 20px;
      font-weight: 600;
      text-align: right;

      &:nth-child(1) {
        width: fit-content
      }

      &:nth-child(2) {
        width: 130px;
      }

      &:nth-child(3) {
        width: 154px;
      }
    }
  }


  & h3 {
    font-size: 20px;
    margin: 10px 0;
    font-weight: 600;
  }

  & ul {
    list-style-type: circle;
    padding-left: 2rem;
  }
}
