@import "./flatpickr.min.css";

.step-label {
    @apply mb-3 text-center sm:mb-5;
}

.step-icon {
    @apply relative z-20 mx-auto flex h-10 w-10 items-center rounded-full bg-zinc-400 text-lg;
}

.complete .step-icon {
    @apply border border-orange-50 bg-yellow-50;
}

.step-label>span {
    @apply rounded px-2 py-1 text-base font-medium text-zinc-400 sm:text-lg;
}

.complete .step-label>span {
    @apply text-yellow-50;
}

.active .step-label>span {
    @apply font-medium text-orange-50;
}

.step-icon>span {
    @apply w-full text-center text-zinc-500;
}

.complete .step-icon>span {
    @apply text-[1.5em] font-bold text-teal-500;
}

.complete .step-icon>span {
    @apply invisible;
}

.complete .step-icon>span::after {
    content: "done";
    @apply visible absolute block;
    padding: 5px;
    top: 1px;
    left: 1px;
}

.active .step-icon {
    @apply border-2 border-orange-400 bg-orange-50 opacity-100;
}

.step-union-lines {
    @apply w-full rounded bg-zinc-400 py-1;
}

.active .step-union-lines {
    @apply bg-orange-50;
}

.active .step-icon>span {
    @apply text-orange-400;
}

.complete .step-union-lines {
    @apply border-yellow-200 bg-yellow-50;
}

#turbo-loading {
    @apply fixed left-0 top-0 z-50 hidden h-full w-full flex-col items-center justify-center bg-white/60;
}

.calendar-icon {
    @apply absolute right-0 top-0 m-[10px] cursor-pointer text-slate-500;
}

.salida-row {
    @apply border-b px-0 py-4 text-sm font-medium text-slate-700 sm:px-2 sm:text-base;
}

.salida-row:last-child {
    @apply border-0;
}

.salida-selected {
    @apply rounded bg-sky-300 text-slate-900;
}

.salida-selected .elegir {
    @apply hidden;
}

.salida-selected .btn-descartar-salida {
    @apply flex;
}

.asiento>svg {
    @apply fill-slate-500;
}

.asiento:not(.elegido):hover {
    @apply rounded-2xl bg-slate-200;
    @apply cursor-pointer;
}

.asiento.elegido {
    @apply rounded-2xl border border-orange-400 bg-orange-100;
}

.elegido>svg {
    @apply fill-teal-700;
}

.help-text {
    @apply flex items-center text-sm font-medium text-orange-500;
}

.help-text.help-info {
    @apply font-medium text-indigo-500;
}

.reservando {
    @apply h-[100vh] bg-white;
}

.reservando>*:not(#turbo-loading, .reserva, .banner) {
    @apply hidden blur-none sm:block sm:blur-lg;
}

.reservando>.banner>.slider {
    @apply blur-3xl;
}

.reservando+footer {
    @apply hidden;
}

/* @media only screen and (max-width: 1000px) { */
.reserva:not(.transferencia) {
    @apply relative lg:absolute;
}

.banner {
    @apply block lg:flex;
}

/* .slider-wrap {
    @apply bg-transparent;
} */
.reservando .slider {
    @apply hidden sm:hidden;
}

/* } */

/* tom-select desing*********************************** */
.ts-wrapper.single .ts-control,
.ts-dropdown.single {
    @apply mt-1 block w-full whitespace-nowrap rounded-md border-gray-300 bg-white placeholder:italic placeholder:text-slate-400 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
}

.ts-wrapper.single .ts-control {
    @apply bg-white bg-none bg-no-repeat shadow-none;
}

.ts-control>input {
    @apply w-full;
}

.ts-control>div {
    @apply max-w-full overflow-hidden text-ellipsis;
}

.ts-control input {
    @apply min-w-0 placeholder:text-base;
}

.ts-control {
    @apply !flex;
}

.ts-dropdown [data-selectable] {
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
    font-weight: 500;
}

/* End tom-select desing*********************************** */

label.asteric {
    @apply after:absolute after:ml-0.5 after:text-lg after:font-medium after:text-red-600 after:content-['*'];
}

.reservacion_detalle {
    @apply pb-5 pt-0 lg:px-5 lg:pb-5;
}

.reservacion_detalle_row {
    @apply mb-1 flex items-center justify-start;
}

.servacion_detalle_row .material-symbols-outlined {
    @apply px-0 text-3xl;
}

.reservacion_detalle_row {
    @apply mb-3;
}

.reservacion_detalle_row>* {
    @apply py-1 font-medium;
}

/* .reservacion_detalle_row > :last-child {
    @apply bg-yellow-50;
} */
.reservacion_detalle_row> :first-child {
    @apply grid min-w-[95px] max-w-[95px] text-right;
}

.reservacion_detalle_row> :last-child {
    @apply w-fit rounded bg-slate-600 px-2 py-[6px] text-white;
}

.reservacion_detalle_row> :first-child>span {
    @apply w-fit rounded px-2 py-1 pb-1;
}

.reservacion_detalle_row>.material-symbols-outlined {
    @apply px-2 py-1 pb-1;
}

.reservacion_detalle_row .hora,
.reservacion_detalle_row .dia {
    @apply font-bold text-slate-900;
}

.reservacion_detalle_row .hora-data,
.reservacion_detalle_row .dia-data {
    @apply bg-slate-900 px-5 font-bold
}

.fixed-buttons {
    @apply fixed bottom-0 left-0 w-full sm:hidden;
}

.fixed-buttons .btn {
    @apply border border-white px-[12px] py-[8px] text-lg font-semibold shadow-slate-900;
}

.fixed-buttons .btn.bg-orange-500 {
    @apply text-white;
}

.step-background-union {
    @apply hidden;
}

.active .step-background-union {
    @apply absolute left-1/2 ml-[-20px] mr-[7px] mt-[-40px] block h-[60px] w-[40px] rounded-t-full border-none border-sky-600 bg-teal-200 sm:border-x-2;
    background: linear-gradient(180deg,
            rgba(89, 245, 215, 1) 0%,
            rgba(255, 255, 255, 1) 100%);
}

/* .active .step-background-union {
    @apply absolute z-30 -mt-[41px] h-[66px] w-[40px];
    background: linear-gradient(
        450deg,
        rgba(153, 246, 228, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
} */

.active .step-background-union>div {
    @apply absolute bottom-0 z-10 m-auto mb-[-4px] block h-[5px] w-[40px] bg-[#FFFEFA];
}

.form-y-space {
    @apply mt-7 sm:mt-10;
}

.child-form-y-space>* {
    @apply mt-10 sm:mt-12;
}

.arrows>* {
    @apply absolute font-bold text-slate-500;
}

.aviso>span {
    @apply font-bold;
}

.reserva .step-wrap {
    @apply sticky top-0 inline-block lg:relative lg:top-0;
}

.reserva .reserva-bg {
    @apply rounded-none bg-sky-700;
}

.flatpickr-calendar {
    @apply !left-0 !top-0;
}

#reserva-wrap {
    @apply top-0 z-40 m-auto mx-auto mt-0 w-full min-w-min max-w-5xl shadow-none lg:absolute lg:py-10 lg:shadow-lg xl:mt-[5%];
}

#reserva-wrap.reserva {
    @apply absolute;
}

.tarjeta label {
    @apply !break-all;
}

.bg-button-reserva {
    @apply absolute top-0 z-10 h-full w-full bg-stone-900/50;
}

.level-btn.active {
    @apply border-cyan-800 bg-cyan-600 text-white;
}

.elegido .asiento-numero {
    @apply bg-orange-400;
}

turbo-frame[busy] {
    opacity: 0.5
}

turbo-frame[id="reservacion-form"]>.alert.warning {
    margin-top: 15px
}
